[Unit]
Description=Cart Service
After=network.target redis.service catalogue.service

[Service]
User=roboshop
Environment=REDIS_HOST=redis.vrushaba.shop
Environment=REDIS_PORT=6379
Environment=CATALOGUE_HOST=catalogue.vrushaba.shop
Environment=CATALOGUE_PORT=8080
WorkingDirectory=/app
ExecStart=/usr/bin/node /app/server.js
Restart=always
RestartSec=30
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target