[Unit]
Description=Catalogue Service
After=network.target mongod.service

[Service]
User=roboshop
Environment=MONGO_URL=mongodb://mongodb.vrushaba.shop:27017/catalogue
WorkingDirectory=/app
ExecStart=/usr/bin/node /app/server.js
Restart=always
RestartSec=30
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target